body{
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel', serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 45vw;
    font-weight: bolder;
    /* border: 1px solid brown */
}

fieldset {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url("/src/unicorn.jpg") ;
    color: pink;
}

button {
    background-color: pink;
    font-family: 'Cinzel', serif;
    /* border: 1px solid red; */
}

.form-container {
    margin-left: 50vw;
    margin-top: 40vh; 
    width: 45vw;
    /* border: 1px solid aqua; */
}

.form-heading {
    /* border: 1px solid orange; */
    text-align: center;
    font-size: 4vw;
    font-family: 'Cedarville Cursive', cursive;
    margin-bottom: 0vh;
    padding-bottom: 0vh;
    padding-top: 0vh;
    margin-top: 0vh;
}
