body{
    font-family: 'Cinzel', serif;
    margin: 0px;
}

.homeland-container {
    background-image: url("/unicorn.jpg") ;
    color: pink;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin: 0px;
}

.dreamland-container {
    background-image: url("/dreamland-gif-background.gif") ;
    color: pink;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin: 0px;
}

form {
    display: flex;
    flex-direction: column;
    width: 45vw;
    font-weight: bolder;
    /* border: 1px solid brown; */
}

fieldset {
    display: flex;
    flex-direction: column;
}



button {
    background-color: pink;
    font-family: 'Cinzel', serif;
    width: 45vw;
    /* border: 1px solid red; */
}

.form-container {
position: relative;
left: 50vw;
top: 30vh;
    /* border: 1px solid brown; */
    width: 45vw;
}

.form-heading {
    /* border: 1px solid orange; */
    width: 45vw;
    text-align: center;
    font-size: 4vw;
    font-family: 'Cedarville Cursive', cursive;
    margin-bottom: 0vh;
    padding-bottom: 0vh;
    padding-top: 0vh;
    margin-top: 0vh;
}

.btn-container {
    display: flex;
}

.home-btn {
    width: 50vw;
    height: 5vh;
}

.dream-btn {
    width: 50vw;
    height: 5vh;
}
